# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

rsource "memory/Kconfig"
rsource "cpu/Kconfig"
rsource "inference/Kconfig"
rsource "tvm/Kconfig"
rsource "tflm/Kconfig"
