/ {
	chosen {
		zephyr,console = &usart1;
		zephyr,tracing-uart = &usart6;
	};
	aliases {
		accel = &lis2ds12;
	};
};

&i2c1 {
    lis2ds12: lis2ds12@3d {
        compatible = "st,lis2ds12";
        reg = <0x3d>;
        status = "okay";
    };
    status = "okay";
};
