# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Zpl runtime configuration method"
	default ZPL_RUNTIME_CONFIG_NONE

config ZPL_RUNTIME_CONFIG_NONE
	bool "No runtime configuration"

config ZPL_RUNTIME_CONFIG_UART
	bool "Runtime configuration via UART"
	select SHELL
	select SHELL_MINIMAL

config ZPL_RUNTIME_CONFIG_DEBUG
	bool "Runtime configuration via debug flags"

endchoice

config ZPL_MEMORY_USAGE_TRACE
	bool "Enables memory usage traces"

choice
	prompt "Zephelin trace mode"
	default ZPL_TRACE_LAYER_PROFILING_MODE
	depends on ZPL_TRACE

config ZPL_TRACE_MINIMAL_MODE
	bool "Extremely lightweight profiling mode with no persistent trace"
	imply ZPL_INFERENCE_PROFILING
	imply ZPL_MEMORY_USAGE_TRACE

config ZPL_TRACE_LAYER_PROFILING_MODE
	bool "Layer-level timing with optional runtime hooks"
	imply ZPL_INFERENCE_PROFILING
	imply ZPL_MEMORY_USAGE_TRACE

config ZPL_TRACE_FULL_MODE
	bool "Full profiling mode that enables complete CTF tracing"
	imply ZPL_INFERENCE_PROFILING
	imply ZPL_MEMORY_USAGE_TRACE
	imply TRACING_SYSCALL
	imply TRACING_THREAD
	imply TRACING_WORK
	imply TRACING_ISR
	imply TRACING_SEMAPHORE
	imply TRACING_MUTEX
	imply TRACING_CONDVAR
	imply TRACING_QUEUE
	imply TRACING_FIFO
	imply TRACING_LIFO
	imply TRACING_STACK
	imply TRACING_MESSAGE_QUEUE
	imply TRACING_MAILBOX
	imply TRACING_PIPE
	imply TRACING_HEAP
	imply TRACING_MEMORY_SLAB
	imply TRACING_TIMER
	imply TRACING_EVENT
	imply TRACING_POLLING
	imply TRACING_PM
	imply TRACING_NETWORKING
	imply TRACING_NET_SOCKETS
	imply TRACING_NET_CORE
	imply TRACING_GPIO
	imply TRACING_IDLE

endchoice
