# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config TRACING_SYSCALL
	default n

config TRACING_THREAD
	default n

config TRACING_WORK
	default n

config TRACING_ISR
	default n

config TRACING_SEMAPHORE
	default n

config TRACING_MUTEX
	default n

config TRACING_CONDVAR
	default n

config TRACING_QUEUE
	default n

config TRACING_FIFO
	default n

config TRACING_LIFO
	default n

config TRACING_STACK
	default n

config TRACING_MESSAGE_QUEUE
	default n

config TRACING_MAILBOX
	default n

config TRACING_PIPE
	default n

config TRACING_HEAP
	default n

config TRACING_MEMORY_SLAB
	default n

config TRACING_TIMER
	default n

config TRACING_EVENT
	default n

config TRACING_POLLING
	default n

config TRACING_PM
	default n

config TRACING_NETWORKING
	default n

config TRACING_NET_SOCKETS
	default n

config TRACING_NET_CORE
	default n

config TRACING_GPIO
	default n

config TRACING_IDLE
	default n
