west==1.3.0
robotframework==6.1
robotframework-retryfailed==0.2.0
psutil==5.9.3
pyyaml==6.0.*
telnetlib3==2.0.*
pyrenode3 @ git+https://github.com/antmicro/pyrenode3.git
ai-edge-litert
pyserial==3.5
pyusb==1.2.*
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp310-cp310-manylinux_2_28_x86_64.whl; python_version == '3.10' and sys_platform == "linux"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp311-cp311-manylinux_2_28_x86_64.whl; python_version == '3.11' and sys_platform == "linux"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp312-cp312-manylinux_2_28_x86_64.whl; python_version == '3.12' and sys_platform == "linux"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp313-cp313-manylinux_2_28_x86_64.whl; python_version == '3.13' and sys_platform == "linux"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp310-cp310-macosx_14_0_arm64.whl; python_version == '3.10' and sys_platform == "darwin"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp311-cp311-macosx_14_0_arm64.whl; python_version == '3.11' and sys_platform == "darwin"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp312-cp312-macosx_14_0_arm64.whl; python_version == '3.12' and sys_platform == "darwin"
https://github.com/antmicro/libbtrace/releases/download/tip/bt2-0.0.1-cp313-cp313-macosx_14_0_arm64.whl; python_version == '3.13' and sys_platform == "darwin"
