# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config ZPL_SCOPE_MARKING
	bool "Scope entry and leaving marking"
	depends on ZPL
