# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

rsource "profilers/Kconfig"
rsource "backends/Kconfig"
rsource "scopes/Kconfig"
rsource "conf/Kconfig"
rsource "conf/Kconfig.mute_traces"

config ZPL
	bool "Support for Zephelin"
	help
	  Say 'Y' if you want to enable support for Zephelin, the Zephyr AI
	  Profiling Library.

config ZPL_TRACE
	bool "Support for integration with Zephyr tracing subsystem"
	select TRACING

choice
	prompt "Zephelin trace format"
	default ZPL_TRACE_FORMAT_PLAINTEXT
	depends on ZPL_TRACE

config ZPL_TRACE_FORMAT_PLAINTEXT
	bool "Plaintext format for Zephelin trace"

config ZPL_TRACE_FORMAT_CTF
	bool "CTF format for Zephelin trace"

endchoice

choice TRACING_FORMAT_CHOICE
	default TRACING_TEST if ZPL_TRACE_FORMAT_PLAINTEXT
	default TRACING_CTF if ZPL_TRACE_FORMAT_CTF
endchoice

config ZPL_TRACE_CTF_MAX_STR_LEN
	int "Maximum string length for CTF events"
	default 20
	depends on ZPL_TRACE_FORMAT_CTF

config ZPL_TRACE_CTF_MAX_LONG_STR_LEN
	int "Maximum long string length for CTF events"
	default 60
	depends on ZPL_TRACE_FORMAT_CTF
