config ZPL
	bool "Support for Zephyr Profiling Library"
	help
	  Say 'Y' if you want to enable support for the Zephyr Profiling
	  Library.

config ZPL_TRACE
	bool "Support for integration with Zephyr tracing subsystem"
	select TRACING

choice
	prompt "Zephyr Profiling Library trace format"
	default ZPL_TRACE_FORMAT_PLAINTEXT
	depends on ZPL_TRACE

config ZPL_TRACE_FORMAT_PLAINTEXT
	bool "Plaintext format for Zephyr Profiling Library trace"

config ZPL_TRACE_FORMAT_CTF
	bool "CTF format for Zephyr Profiling Library trace"

endchoice

choice
	prompt "Zephyr Profiling Library trace backend"
	default ZPL_TRACE_BACKEND_UART
	depends on ZPL_TRACE

config ZPL_TRACE_BACKEND_UART
	bool "UART backend for Zephyr Profiling Library"

config ZPL_TRACE_BACKEND_TRIVIAL_UART
	bool "Trivial UART backend for Zephyr Profiling Library"

endchoice

config TRACING_BACKEND_NAME
	string
	default "tracing_backend_trivial_uart" if ZPL_TRACE_BACKEND_TRIVIAL_UART

config ZPL_TRACE_CTF_MAX_STR_LEN
	int "Maximum string length for CTF events"
	default 20
	depends on ZPL_TRACE_FORMAT_CTF

config ZPL_MEMORY_PROFILING
	bool "Memory profiling"
	depends on ZPL
	depends on SYS_HEAP_ARRAY_SIZE > 0
	select SYS_HEAP_RUNTIME_STATS
	select THREAD_STACK_INFO
	select THREAD_MONITOR
	select INIT_STACKS
	help
	  Say 'Y' if you want to enable support for the Memory Profiling.

config ZPL_MEMORY_PROFILING_INTERVAL
	int "Memory profiling interval in milli seconds"
	default 1000
	depends on ZPL_MEMORY_PROFILING

config ZPL_MEMORY_PROFILING_THREAD_STACK_SIZE
	int "Memory profiling thread stack size in bytes"
	default 512
	depends on ZPL_MEMORY_PROFILING

config ZPL_MEMORY_PROFILING_THREAD_PRIORITY
	int "Memory profiling thread priority"
	default 5
	depends on ZPL_MEMORY_PROFILING

config ZPL_MEMORY_PROFILING_THREAD_DELAY
	int "Memory profiling thread delay"
	default 0
	depends on ZPL_MEMORY_PROFILING

config ZPL_TFLM_EVENTS
	bool "Enables TFLite Micro events"
	depends on ZPL

config ZPL_TFLM_PROFILER
	bool "Build with TFLM profiler support"
	depends on ZPL_TFLM_EVENTS
	depends on TENSORFLOW_LITE_MICRO
	depends on CPP
	depends on STD_CPP17

config ZPL_TFLM_PROFILER_MAX_EVENTS
	int "Maximum number of stored events"
	default 32
	depends on ZPL_TFLM_PROFILER
