# Copyright (c) 2025 Analog Devices, Inc.
# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config ZPL_CPU_LOAD_PROFILING
	bool "CPU load profiling"
	depends on ZPL
	depends on CPU_LOAD
	select INIT_STACKS
	help
	  Say 'Y' if you want to enable support for the CPU load profiling.

config ZPL_CPU_LOAD_PROFILING_INTERVAL
	int "CPU load profiling interval in milliseconds"
	default 1000
	depends on ZPL_CPU_LOAD_PROFILING

config ZPL_CPU_LOAD_PROFILING_THREAD_STACK_SIZE
	int "CPU load profiling thread stack size in bytes"
	default 512
	depends on ZPL_CPU_LOAD_PROFILING

config ZPL_CPU_LOAD_PROFILING_THREAD_PRIORITY
	int "CPU load profiling thread priority"
	default 5
	depends on ZPL_CPU_LOAD_PROFILING

config ZPL_CPU_LOAD_PROFILING_THREAD_DELAY
	int "CPU load profiling thread delay"
	default 0
	depends on ZPL_CPU_LOAD_PROFILING

config ZPL_CPU_LOAD_TRACE
	bool "Enables CPU load traces"

config ZPL_DIE_TEMP_PROFILING
	bool "DIE temperature profiling"
	depends on ZPL
	depends on ADC
	depends on SENSOR
	select INIT_STACKS
	help
	  Say 'Y' if you want to enable support for the DIE temperature profiling.

config ZPL_DIE_TEMP_PROFILING_SENSORS_COUNT
	int "Number of DIE temperature sensors to use for profiling"
	default 2
	depends on ZPL_DIE_TEMP_PROFILING

config ZPL_DIE_TEMP_PROFILING_INTERVAL
	int "DIE temperature profiling interval in milliseconds"
	default 1000
	depends on ZPL_DIE_TEMP_PROFILING

config ZPL_DIE_TEMP_PROFILING_THREAD_STACK_SIZE
	int "DIE temperature profiling thread stack size in bytes"
	default 512
	depends on ZPL_DIE_TEMP_PROFILING

config ZPL_DIE_TEMP_PROFILING_THREAD_PRIORITY
	int "DIE temperature profiling thread priority"
	default 5
	depends on ZPL_DIE_TEMP_PROFILING

config ZPL_DIE_TEMP_PROFILING_THREAD_DELAY
	int "DIE temperature profiling thread delay"
	default 0
	depends on ZPL_DIE_TEMP_PROFILING

config ZPL_DIE_TEMP_TRACE
	bool "Enables DIE temperature traces"
